DJANGO_SECRET_KEY=change-me-in-production
DEBUG=1
POSTGRES_USER=tcc
POSTGRES_PASSWORD=tcc
RABBITMQ_USER=tcc
RABBITMQ_PASSWORD=tcc
JWT_SIGNING_KEY=change-me-jwt
ALLOWED_ADMIN_NETWORKS=127.0.0.1/32,172.16.0.0/12
